@page "/"

<h1>Registros de Productos!</h1>

<div></div>

<h4>made with ING.Alvarado Taberas</h4>

bienvenido a nuestro registro. Aqui podrá registrar tantos productos como desee.

<!---
<SurveyPrompt Title="How is Blazor working for you?" />
-->